img{
    margin: 20px;
    width: 55%;
    height: 80%;
    border: 4px dashed darkblue;
    float: left;
}

body{
    background-color: beige;
}
    
h1{
    justify-content: center;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    color: darkblue;
}

p{
    margin-top: 120px;
    font-size:x-large;
    font-style: italic;
    margin-bottom: 90px;
    color:lightblue;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
}

li{
    display: inline-block;
    margin-inline: 5px;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

