body{
    background-color: lightblue;
}
    
li{
    display: inline;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

p{
    font-size:x-large;
    font-style: italic;
}

.col-sm{
    width: 18rem;
}


