img{
    
    margin:auto;
    width: 55%;
    height: 80%;
    border-radius: 35%;
    border: 2px solid yellow;
}
.whole{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: darkblue;
}
body{
    background-color: lightblue;
}
    
li{
    text-align: center;
    display: inline;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

p{
    font-size:x-large;
    font-style: italic;
}

.navbar{
    background-color:aliceblue
}

